@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
html { font-size: 10px;}
body { font-size: 1rem; max-width: 151.2rem; margin: 0 auto; background-color: #000; font-family: 'PT Sans', sans-serif; box-sizing: border-box;}

header { background-color: #000;}
header .wreper {display: flex; justify-content: space-between; align-items: center; max-width: 116.4rem; width: 100%; height: 10.68rem; margin: 0 auto;}
nav { width: 100%; max-width: 40.952rem;}
.menu ul { display: flex; justify-content: space-between;  align-items: center;}
.menu ul li a { display: inline-block; color: #fff; font-weight: 700; font-size: 1.8rem; }
.menu ul li:nth-child(1) {  padding-right: 2rem; background: url(../images/btn_down_arrow.png) no-repeat right top 1.0rem / 1.4rem auto}
.menu ul li:nth-child(3) {  padding-right: 2rem; background: url(../images/btn_down_arrow.png) no-repeat right top 1.0rem / 1.4rem auto}
.sns { padding: 1.2rem 2.2rem 1.2rem 0; }
.sns a { display: inline-block; width: 3rem; height: 3rem; border-radius: 50%; background-color: #fff !important;}
.sns a ~ a { margin-left: .9rem;}
.sns a:nth-child(1) { background: url(../images/btn_go1.png) no-repeat center / 2.3rem auto;}
.sns a:nth-child(2) { background: url(../images/btn_go2.png) no-repeat center / 2.3rem auto;}
.sns a:nth-child(3) { background: url(../images/btn_go3.png) no-repeat center top 0.5rem / 2.3rem auto;} 

main { }

.news { position: relative; z-index: 10;  line-height: 5.9rem; text-align: center; width: 100%; background: #C61111; margin: 0 auto; font-weight: 700; color: #fff;}
.news h3 { font-size: 1.6rem; max-width: 116.4rem; padding: 0 2.2rem; margin: 0 auto; box-sizing: border-box; }
.news h3 span { font-size: 1.4rem; padding-left: 1.28rem; }
.news h3 em { font-size: 1.4rem; font-weight: 400; padding: 0 8.1rem 0 1.7rem;}

.main_banner { position: relative; height: 78.6rem; margin-top: -5.9rem; }
.main_banner > img { width: 100%; height: 100%; border-radius: 0 0 100% 100% / 0 0 20% 20%; object-fit: cover;  }
.main_banner div { position: absolute; width: 37.6%; left: 50%; top:50%; transform: translate(-50%,-50%);  text-align: center;} 
.main_banner div img {max-width: 100%;}


.btn { display:inline-block; margin-top: 4.4rem;  padding: 0 4rem; font-size: 2rem;  height: 5.4rem; line-height: 5.4rem; border-radius: 5.4rem; color: #fff; background-color: #2D75B6;} 

.main_explanation {position: relative; padding: 8rem 0; box-sizing: border-box;}
.main_explanation img { position: absolute; }
.main_explanation img:nth-of-type(1) { height: 10.6rem; left: 10rem; top: 5rem;}
.main_explanation img:nth-of-type(2) { height: 14.5rem; right: 10.3rem; bottom: 0;}
.main_explanation img:nth-of-type(3) { height: 6.2rem; top: 25.7rem; left: 19.3rem;}
.main_explanation img:nth-of-type(4) { height: 3.3rem;  top: 30.6rem; left: 26.5rem;}
.main_explanation img:nth-of-type(5) { height: 3.3rem; top: 11rem; right: 26.8rem;}
.main_explanation img:nth-of-type(6) { height: 3.3rem; top: 20rem; right: 20rem;}

.exp { text-align: center; width: 68.2rem; height: 22.1rem; color: #fff; margin: 0 auto;}
.exp h3 { font-size: 4.5rem; font-weight: 700; line-height: 5.4rem; padding: 0 4rem 3.2rem; }
.exp p { font-size: 2.7rem; font-weight: 400; line-height: 4.05rem;}

.award { margin: 0 auto; max-width: 114.6rem;}
.award ul li { float: left; margin: 1.3rem; padding: 3.3rem 5.48rem 0; width: 35.5rem; height: 14.1rem; box-sizing: border-box; color: rgba(255, 255, 255, 0.87); font-Weight: 700; font-Size: 1.6rem; Line-height: 2.34rem; text-align: center; background-color: rgba(255, 255, 255, 0.087); border-radius: 1rem;}
.award ul li p { padding-bottom: 0.97rem; }
.award ul li span { color: #D3C7B5; }

.in_play { margin: 5.5rem auto 0; text-align: center; max-width: 115.6rem;}
.in_play h2 { font-size: 2rme; line-height: 2.4rem; font-weight: 700; margin-bottom: 1rem; color:  #fff; }
.in_play ul li { float: left; margin: 2.2rem 1.8rem; width: 34.9rem; height: 19.4rem; } 

.how { position: relative; padding: 11rem 0;}
.how .exp { width: 72.17rem; height: 30rem;}
.how .exp p { width: 72.17rem;}
.how .exp p span { color: #FC4E73; }
.how .images2 img {position: absolute; height: 10rem;}
.how .images2 img:nth-child(1) { left: 13rem; top: 5.5rem; }
.how .images2 img:nth-child(2) { left: 27.2rem; top: 25.2rem;}
.how .images2 img:nth-child(3) { right: 9.3rem; top: 35.8rem;}
.how .images2 img:nth-child(4) { height: 5.1rem; left: 13rem; top: 41rem;}
.how .images2 img:nth-child(5) { height: 5.1rem; left: 26.5rem; top: 11.1rem;}
.how .images2 img:nth-child(6) { height: 2.7rem; left: 112.4rem; top: 8.79rem;}
.how .images2 img:nth-child(7) { height: 6.2rem; left: 135.8rem; top: 14.1rem;}

.team2 { max-width: 116.4rem; margin: 0 auto; text-align: center;}
.team2 .team { height: 37.5rem; }
.team > img { height: 10rem;}
.team > h3 { font-size: 2.7rem; font-weight: 400; color: #fff; margin: 2.7rem 0 3.9rem;}
.team > h3 strong { font-weight: 700; }
.team ul li { position: relative; float:  left; margin: 1rem 1.6rem;  width: 35.2rem; padding-left: 6.5rem; box-sizing: border-box; text-align: left;}
.team ul li img { position: absolute; left: 0; top: 0;}
.team ul li figcaption { font-size: 1.7rem; font-weight: 400; line-height: 2.7rem; color: #fff; }
.team2 .impostor { margin-top: 7.9rem;}

.official { padding: 7.88rem 0 19.5rem;}
.offi_wrap { height: 44.61rem;  background: url(../images/bg_visual4.png ) no-repeat 0 0 / 100% auto; }
.official .offi_wrap .content { padding: 13.6rem 0 0 21.8rem; color: #fff; }
.official .offi_wrap .content h2 { font-size: 4.1rem; font-weight: 700;  }
.official .offi_wrap .content p { font-size: 2.2rem; font-weight: 400;  padding: 2.21rem 0 3.3rem; }
.official .offi_wrap .content .btn { margin: 0; }


.footer_inner {width: 100%; height: 25.2rem; font-size: 3rem; line-height: 3.6rem; font-weight: 400;} 
.footer_inner .question {float: left; width: 57.8%; height: 100%; padding: 4.4rem 0 0 19.8rem; background: #2D75B6
  url(../images/bg_visual5.png) no-repeat right 6.2rem top 2.7rem / 15.5rem auto ; color: #fff; box-sizing: border-box;} 
.footer_inner .question .content { width: 39.8rem;}
.footer_inner .question .content h3 { padding-bottom: 2.8rem;}
.footer_inner .question .content .btn { margin: 0; color:#2D75B6; background-color: #fff;}
.footer_inner .know {float: left; width: 42.2%; padding: 4.4rem 0 0 7.8rem; box-sizing: border-box; } 
.footer_inner .know h3 { padding-bottom: 4.5rem; } 
.footer_inner .know .email { max-width: 48.5rem; height: 5rem;}
.footer_inner .know input[type=email] { width: 86.5%; height: 100%; border-radius: 2.2rem 0 0 2.2rem; border: 1px solid #D3C7B5; border-right: none; margin-right: -1.16rem; box-sizing: border-box;}
.footer_inner .know input[type=submit] { width: 13.5%; height: 100%; background: url(../images/btn_right_arrow.png) no-repeat center center / 1.3rem auto #2D75B6; border: 1px solid #D3C7B5; border-radius: 0 2.2rem 2.2rem 0; border-left: none; }